body{
	margin:0;
	padding : 0;
}
div {
	background-color:  #ffd000;
	height : 100%;
	width : 100%; 
    position : absolute;
}
div:hover {
	background-color: #800000;
	transition : background-color .2s ease-in;
}
